@model IEnumerable<GameMVC.Models.Game>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Game</th></tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr><th>@game.nome<th></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ainda não temos Games!</p>
}
