@model IEnumerable<GameMVC.Models.Computador>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computadores</h2>

@if (!Model.Any()){
          <p> Não temos nenhum computador ainda.</p>
}
else
{ 
        <table id = "computadores" class="table table-bordered table-hover">
        <thead>
        <tr>
           <th>Computador</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var computador in Model)
            {
                <tr>
                    <td>@computador.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

