@model IEnumerable<GameMVC.Models.VideoGame>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VideoGames</h2>

@if (Model.Any())
{
    <p>
        @Html.ActionLink("Novo Video Game", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>VideoGame</th></tr>
        </thead>
        <tbody>
            @foreach (var videoGame in Model)
            {
                <tr><th>@videoGame.Name<th></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ainda Não temos VideoGames</p>
}